
:root {
    --primary-1-color: #ffffff;
    --primary-2-color: #363738;
    --primary-3-color: #000000;
  
    --secondary-1-color: #db4444;
    --secondary-2-color: #f5f5f5;
    --secondary-3-color: #fefaf1;
    --secondary-4-color: #cc3131;
    --text-light-color: #fafafa;
    --text-gray-color: #7d8184;
    --text-dark-color: #000000;
    --box-border-color: #0000004D;

  }
.orderFormLeft
{
    padding-right: 30px;
}
.orderFormRight
{
    padding-left: 30px;
}
.orderFormLeft, .orderFormRight
{
    margin-bottom: 80px;
}   
/* Adjustments for the form */
.billingHeader
{
    margin-bottom: 20px;
}
.orderFormGroup {
    margin-bottom: 20px;
}
.orderFormGroup .form-check-input:checked
{
    background-color: var(--secondary-1-color);
    border-color: var(--secondary-1-color) ;
}
.orderFormGroup .form-check-input:focus
{
    box-shadow: none;
}
.orderFormGroup p
{
    margin-bottom: 5px;
}
/* .orderFormGroup label
{
    color: var(--text-gray-color);
} */
.inputfield:disabled
{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
/* Adjustments for the radio buttons */
.form-check-inline {
    margin-right: 20px;
}
.orderInputControl
{
    border: none;
    background-color: var(--secondary-2-color);
}

/* for table */
.orderProductItem
{
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.orderProductItem .product-image
{
    width: 20%;
}
.orderProductItem .productDetails
{
    width: 50%;
}
.orderProductItem .product-line-price
{
    width: 30%;
}
.orderProductItem .product-title
{
    overflow-wrap: break-word;
}

/* for payments */
.payment-options
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.bankPayOption
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment-options .form-check-input:focus
{
    box-shadow: none;
}
.payment-options .form-check-input:checked
{
    background-color: var(--secondary-1-color);
    border-color: var(--secondary-1-color) ;
}
.payment-option
{
    margin-bottom: 10px;
}

/* for coupon option */
.coupon-section {
    margin-top: 20px;
}

.coupon-section input[type="text"] {
    padding: 8px;
    border: 1px solid var(--box-border-color);
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.coupon-section button {
    padding: 8px 15px;
    background-color: var(--secondary-1-color);
    color: var(--text-light-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.coupon-section button:hover {
    background-color: var(--secondary-4-color);
}

#place-order {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--secondary-1-color);
    color: var(--text-light-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#place-order:hover {
    background-color: var(--secondary-4-color);
}
.bankPayIterface
{
    height: 16px;
}
.bankPayIterface img
{
    height: 100%;
}

/* responsive start here */
@media screen and (max-width: 992px)
{
    .orderFormLeft
    {
        padding-right: 15px;
    }
    .orderFormRight
    {
        padding-left: 15px;
    }  
}
@media screen and (max-width: 768px)
{
    .orderFormLeft
    {
        padding-right: 0px;
    }
    .orderFormRight
    {
        padding-left: 0px;
    } 
}
@media screen and (max-width: 450px)
{
    .orderProductItem .product-title
    {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px)
{
    .bankPayIterface
    {
        height: 13px;
    }
}

