:root {
  --primary-1-color: #ffffff;
  --primary-2-color: #363738;
  --primary-3-color: #000000;

  --secondary-1-color: #db4444;
  --secondary-2-color: #f5f5f5;
  --secondary-3-color: #fefaf1;
  --text-light-color: #fafafa;
  --text-gray-color: #7d8184;
  --text-dark-color: #000000;
}

.footer {
  background-color: var(--primary-3-color);
  color: var(--text-light-color);
}
.footer-row-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe a {
  color: var(--text-light-color);
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 10px;
  height: fit-content;
}
.email-wrapper {
  border: 1px solid var(--primary-1-color);
  border-radius: 4px;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.email-field {
  background: none;
  outline: none;
  border: none;
  width: 80%;
  color: var(--text-light-color);
  padding-left: 5px;
  padding-right: 5px;
}
.subscribe p {
  margin-bottom: 0;
  margin-top: 10px;
}
.copyright-text {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer h6 {
  margin-bottom: 20px;
}
.footer p {
  font-size: 0.8rem;
}
.list-unstyled a {
  text-decoration: none;
  color: var(--text-light-color);
  font-size: 0.9rem;
  font-weight: 400;
}
.footer-brand-logo-single{
   height: 100%;
      display: flex;
      align-items: center;
}
.footer-brand-logo-single img {
    height: 40px;

    background-color: var(--primary-1-color);
}
.list-unstyled li {
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.list-unstyled li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 992px) {
}

/* Media query for smaller screens */
@media (max-width: 772px) {
  .footer-row-wrapper {
    display: none;
  }
  .copyright-text {
    padding-bottom: 10px;
  }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
}
/* Media query for smaller screens (e.g., mobile phones) */
@media (max-width: 576px) {
}

@media (min-width: 576px) {
}


