/* code for navbar */
:root
{
    --primaryColor: #6A983C;
}
.navbar
{
    box-shadow: 0 1px 5px #D1D1D1;
    padding: 20px 0;
}
.brand-logo
{
    height: 45px;

}

.userLogin
{
    text-align: center;
    padding: 5px;
    margin-left: 30px;
    height: 60px;
    width: 60px;
}
.userLogin *
{
    color: var(--primaryColor);
}
.loginBtn
{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}
.loginBtn:hover  .fa-user
{
    color: #46760A !important;
}
.loginBtn:hover  .loginText
{
    color: #46760A !important;
}
.userTopBtn
{
    display: flex;
    align-items: center;
}

/* design for search bar */
.searchForm
{
    display: flex;
}

.catagoryBtn,.SearchBtn
{
    background-color: transparent;
    border: none;
}
.catagoryBtn
{
    font-weight: bold;
    padding: 5px 15px;
}
.SearchBtn
{
    padding: 5px;
}
.dropdown
{
    position: relative;
}
.dropdown .searchBoxDropdown
{
    position: absolute;
    top: 40px;
    left: -4px;
    right: 0;
    z-index: 2;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow-y: scroll;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.searchBoxDropdown.active
{
    opacity: 1;
    max-height: 152px;
}
.catagoryBtnSearchBar .dropDownIcon
{
    color: var(--primaryColor);
    margin-left: 15px;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}
.angleUp {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-180deg);
  }
.searchBoxDropdown ul
{
    list-style: none;
    padding-left: 0 !important;
    text-align: center;
}
.searchBoxDropdown ul li
{
    padding: 7px 0;
}
.searchBoxDropdown ul li:hover
{
    background-color: var(--primaryColor);
    color: #f9f9f9;
}
.searchBoxDropdown ul li a
{
    text-decoration: none;
    color: #000000;
}
.searchBoxDropdown ul li:hover a
{
    color: #f9f9f9;
}
.searchBox
{
    background-color: transparent;
    outline: none;
    border: none;
    width: 400px;
    padding: 0px 15px;
    border-left: 2px solid #A9A9A9;
    box-sizing: border-box;
}
.searchForm
{
    background-color: #f9f9f9;
    border: 1px solid #A9A9A9;
    padding: 5px;
    border-radius: 10px;
}
.navContainer
{
    max-width: 95% !important;
}
.phoneNavContainer
{
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    align-items: center;
}
.phoneMenu
{
   padding: 20px 0;
   display: none;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); 
}
.menuBarBtn button
{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.menuBarBtn button
{
    font-size: 25px;
}
.menuBarBtn button:hover
{
    background-color: rgba(0, 0, 0, .1);
}
/* for language change button */
.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .switch > span {
    position: absolute;
    top: 10px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: var(--primaryColor);
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: var(--primaryColor);
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 100px;
    height: 35px;
    background-color: var(--primaryColor);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--primaryColor);
    -webkit-moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label {
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }
  /* language change btn end */
/* for navbar only */

/* @media (min-width: 1400px)
{
    .navContainer
    {
        max-width: 95% !important;
    }
}  */


/* responsive start */
@media screen and (max-width: 1117px)
{
    .searchBox
    {
        width: 295px;
    }
}
@media screen and (max-width: 1011px)
{
    .searchBox
    {
        width: 250px;
    }
}
@media screen and (max-width: 970px)
{
    .phoneMenu
    {
        display: block;
    }
    .navbar .searchBar
    {
        display: none;
    }
    .searchBox
    {
        width: 400px;
    }
}

@media screen and (max-width: 710px)
{
    .searchBox
    {
        width: 300px;
    }
}

@media screen and (max-width: 610px)
{
    .searchBox
    {
        width: 200px;
    }
    .catagoryBtn
    {
        padding: 5px;
        font-size: 16px;
    }
}
@media screen and (max-width: 500px)
{
    .searchBox
    {
        width: 250px;
        padding: 0 5px;
    }
    .catagoryBtn span
    {
        padding: 0px;
    }
    .userLogin
    {
        margin-left: 0;
    }
    .allCategoryText
    {
        display: none;
    }
    
    .dropdown .searchBoxDropdown
    {
        width: 130px;
    }
    .catagoryBtnSearchBar .dropDownIcon
    {
        margin-left: 0;
        padding: 0 5px;
    }
    .switchBtnTop
    {
        display: none;
    }
    .switchPhoneMenu
    {
        display: block;
    }

}
@media screen and (max-width: 450px)
{
    .phoneNavContainer
    {
        max-width: 100%;
    }
    .navContainer
    {
        max-width: 100% !important;
    }
}
@media screen and (max-width: 420px)
{
    .searchBox
    {
        width: 200px;
    }
}
@media screen and (max-width: 360px)
{
    .searchBox
    {
        width: 170px;
    }
}
@media screen and (max-width: 350px)
{
    .searchBox
    {
        width: 170px;
    }
    .lineLogo
    {
        height: 40px;
    }
}




